@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* { /* универсальный селектор обнуляет все margin везде */
    margin: 0;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    /* легкий цвет кофе */
    background-color: #f3e9dc;
}

.header {
    height: 500px;
    background-image: url("../images/coffee-bgnd.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*padding: 1px;*/
    /*border-top: 1px solid transparent;*/
    padding-top: 149px;
    box-sizing: border-box; /* включает в себя общую ширину и высоту элемента, padding и border */
}

h1 {
    font-size: 150px;
    font-family: "Covered By Your Grace", cursive;
    color: rgba(98, 42, 15, 0.85);
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.85);
    text-align: center;
    /*padding-top: 149px;*/
    /*margin-top: 148px;*/
}

.main > table { /* знак > означает что table является прямым потомком main */
    padding: 0;
}

.main td { /* пробел между .main и td - является: вложенность всех элементов внутри main */
    margin: 100px 0;
    border-bottom: 2px solid #622A0FD8;
    padding-bottom: 100px;
}

.main td > h2 {
    font-weight: 800; /* очень жирный шрифт */
    font-size: 28px; /* размер шрифта */
    text-align: center; /* выравнивание по центру */
    background-color: rgba(98, 42, 15, 0.45);
    text-transform: uppercase; /* все буквы заглавные */
}

.main td > p {
    font-size: 20px;
    color: #454; /* = #445544 темно-серый цвет */
    text-align: justify; /* выравнивание по ширине */
    padding: 0 15px; /* отступ слева и справа */
    text-indent: 30px; /* отступ первой строки абзаца */
    line-height: 1.5; /* межстрочный интервал */
}

.main td > a {
    text-decoration: none; /* убирает подчеркивание у ссылок */
    font-weight: 700; /* полужирный шрифт */
    text-transform: uppercase;
    color: #214e34;
    padding-left: 15px;
    letter-spacing: 2px; /* расстояние между буквами */
}